body {
  background-color: #f3f5f7;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  color: #333333;
  margin-top: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #dddddd;
}

thead th {
  background-color: #4CAF50;
  color: #ffffff;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

tbody td:first-child {
  font-weight: bold;
}



.container1 {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

header {
  background-color: #4CAF50;
  padding: 10px 0;
}

header h1 {
  color: #ffffff;
  margin: 0;
}

header nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

header nav ul li {
  margin-right: 20px;
}

header nav ul li a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
} 